[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
flask-sqlalchemy = "*"
pylint = "*"
flask-login = "*"
flask-breadcrumbs = "*"
six = "*"
psycopg2 = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-weasyprint = "*"
python-dotenv = "*"
bokeh = "*"
pydotplus = "*"
mlxtend = "*"
gunicorn = "*"
flask-mail = "*"
beautifulsoup4 = "*"
requests = "*"
newspaper3k = "*"
feedparser = "*"

[requires]
python_version = "3.8"
