[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
flask-sqlalchemy = "*"
pylint = "*"
flask-login = "*"
flask-breadcrumbs = "*"
flask-menu = "*"
six = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
sqlalchemy = "*"
flask-whooshalchemy3 = "*"
elasticsearch = "*"
sqlalchemy-searchable = "*"
flask-weasyprint = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
