{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-lg-4">
      <div class="login d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="mx-auto">
              <img
                src="{{ url_for('static', filename='svg/logo.svg')}}"
                class="pb-5"
                alt="Ingenious Cardiovascular Disease Predicting System"
              />
              {% if error is defined %}
              <div class="alert alert-danger" role="alert">
                <i data-feather="x-circle" class="mr-3"></i>{{ error }}
              </div>
              {% endif %}
              <form method="post" action="/forgot_password" autocomplete="off">
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i data-feather="mail"></i>
                      </div>
                    </div>
                    <input
                      type="email"
                      name="email"
                      id=""
                      class="form-control"
                      placeholder="Enter the email address to change your password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    Reset Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 hero"></div>
  </div>
</div>

{% block scripts %}
<script>
  feather.replace();
</script>
<script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
{% endblock %} {% endblock %}
