{% extends 'dashboard/base.html' %} {% block content %}
<div class="card">
  <div class="card-header">
    Daily Cases
  </div>
  <div class="card-body">
    {{ c | safe }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card text-center my-2">
      <form action="/data_visualization" method="GET">
        <div class="card-header">
          <div class="form-row">
            <div class="col">
              <select name="X_value" id="X_value" class="custom-select">
                <option value="age_x">Age</option>
                <option value="sex_x" selected>Gender</option>
              </select>
            </div>
            <span class="mx-2 my-2">to</span>
            <div class="col">
              <select
                name="y_value"
                id="y_value"
                class="custom-select"
                disabled
              >
                <option value="target">Result</option>
              </select>
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary">
                <i data-feather="filter"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          {{ chart | safe }}
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-center my-2">
      <form action="/data_visualization" method="GET">
        <div class="card-header">
          <div class="form-row">
            <div class="col">
              <select name="X_values" id="X_values" class="custom-select">
                <option value="age_x">Age</option>
                <option value="sex_x" selected>Gender</option>
              </select>
            </div>
            <span class="mx-2 my-2">to</span>
            <div class="col">
              <select
                name="y_value"
                id="y_value"
                class="custom-select"
                disabled
              >
                <option value="chol">Cholestrol</option>
              </select>
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary">
                <i data-feather="filter"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          {{ charts | safe }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
