<style>
    .expand>.list-group-item.list-group-item-action {
        color: #808080;
    }
</style>

<div id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="{{ url_for('static', filename='svg/logo.svg')}}" class="py-5"
            alt="Ingenious Cardiovascular Disease Predicting System" style="width: 210px;" />
    </div>
    <div class="list-group list-group-flush">
        <div style="margin-bottom: 35px;">
            <a href="#userOption" class="list-group-item list-group-item-action" data-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="userOption">
                <span style="font-weight: bolder;"><i data-feather="user" class="mr-3"></i>{{ current_user.fullname }}
                    <i data-feather="chevron-down" class="ml-3"></i></span></a>
            <div class="expand" id="userOption">
                <a href="{{ url_for('setting', id = current_user.id) }}" class="list-group-item list-group-item-action"><i data-feather="settings" class="mr-3"></i>
                    Setting
                </a>
                <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action"><i
                        data-feather="log-out" class="mr-3"></i> Logout</a>
            </div>
        </div>
        <a href="{{ url_for('dashboard') }}" {% if request.path == '/dashboard' %}
            class="list-group-item list-group-item-action active" {% endif %}
            class="list-group-item list-group-item-action"><i data-feather="home" class="mr-3"></i> Home</a>
        {% if current_user.access_level == 1 %}
        <a href="{{ url_for('patient_record') }}"
            {% if request.path == '/patient_record' or request.path == '/update_patient_record/' %}
            class="list-group-item list-group-item-action active" {% endif %}
            class="list-group-item list-group-item-action"><i data-feather="list" class="mr-3"></i> Patient
            Records</a>
        <a href="{{ url_for('patients_report') }}" {% if request.path == '/patients_report' %}
            class="list-group-item list-group-item-action active" {% endif %}
            class="list-group-item list-group-item-action"><i data-feather="file-text" class="mr-3"></i>Patient Reports</a>
        {% else %}
        <a href="{{ url_for('patient_feedback', id = current_user.id) }}" {% if request.path == url_for('patient_feedback', id = current_user.id) %}
            class="list-group-item list-group-item-action active" {% endif %}
            class="list-group-item list-group-item-action"><i data-feather="file-text" class="mr-3"></i>Patient's Report</a>
          <a href="{{ url_for('predict', id = current_user.id) }}"
           {% if request.path == url_for('predict', id = current_user.id) %}
           class="list-group-item list-group-item-action active" {% endif %}
           class="list-group-item list-group-item-action"><i data-feather="activity" class="mr-3"></i> Prediction Simulator</a>
        {% endif %}
        <a href="{{ url_for('data_visualization') }}" {% if request.path == '/data_visualization' %}
            class="list-group-item list-group-item-action active" {% endif %}
            class="list-group-item list-group-item-action"><i data-feather="bar-chart" class="mr-3"></i> Data
            Visualization</a>
    </div>
</div>