{% extends 'dashboard/base.html' %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">
  <i data-feather="check" class="mr-3"></i>{{ message }}
</div>
{% endfor %} {% endif %} {% endwith %} {% if result is defined%} {% if result ==
0 %}
<div class="alert alert-success" role="alert">
  <i data-feather="check-circle" class="mr-3"></i>Your Result is <b>Negative</b>
</div>
{% elif result == 1%}
<div class="alert alert-danger" role="alert">
  <i data-feather="x-circle" class="mr-3"></i>Your Result is <b>Positive</b>
</div>
{% endif %} {% endif %}
{% if error is defined %}
<div class="alert alert-danger" role="alert">
  <i data-feather="check-x" class="mr-3"></i>{{ error }}</b>
</div>
{% endif %}
<div class="card mb-3">
  <div class="card-header" style="background-color: #fff;">
    <ul class="nav nav-pills card-header-pills" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="general-info-tab"
          data-toggle="tab"
          href="#general-info"
          role="tab"
          aria-controls="general-info"
          aria-selected="true"
          >General Information</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="health-info-tab"
          data-toggle="tab"
          href="#health-info"
          role="tab"
          aria-controls="health-info"
          aria-selected="false"
          >Health Information</a
        >
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="general-info"
        role="tabpanel"
        aria-labelledby="general-info-tab"
      >
        <form action="/update_patient_record/{{ user.id }}" method="post" autocomplete="off">
          <div class="container">
            <div class="form-group">
              <label for="fullname">Full Name</label>
              <input
                type="text"
                name="fullname"
                id=""
                class="form-control"
                value="{{ user.fullname }}"
              />
            </div>
            <div class="form-group">
              <label for="ic">Identity Card Number</label>
              <input
                type="number"
                name="ic"
                id=""
                class="form-control"
                value="{{ user.ic }}"
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                name="email"
                id=""
                class="form-control"
                value="{{ user.email }}"
              />
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input
                type="number"
                name="phone"
                id=""
                class="form-control"
                value="{{ user.phone }}"
              />
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input
                type="text"
                class="form-control"
                name="dob"
                value="{{ user.dob }}"
              />
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="age">Age</label>
                  <input
                    type="number"
                    name="age"
                    id=""
                    class="form-control"
                    value="{{ user.age }}"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <p>Gender</p>
                  {% if user.sex == 0 %}
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      name="sex"
                      id="male"
                      class="form-check-input"
                      value="1"
                    />
                    <label for="male" class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      name="sex"
                      id="female"
                      class="form-check-input"
                      value="0"
                      checked
                    />
                    <label for="female" class="form-check-label">Female</label>
                  </div>
                  {% else %}
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      name="sex"
                      id="male"
                      class="form-check-input"
                      value="1"
                      checked
                    />
                    <label for="male" class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      name="sex"
                      id="female"
                      class="form-check-input"
                      value="0"
                    />
                    <label for="female" class="form-check-label">Female</label>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="access_level">Access Level</label>
              {% if user.access_level == 0 %}
              <input
                type="text"
                name="access_level"
                id=""
                class="form-control"
                placeholder="Patient"
                disabled
              />
              {% else %}
              <input
                type="text"
                name="access_level"
                id=""
                class="form-control"
                placeholder="Doctor"
                disabled
              />
              {% endif %}
            </div>
            <div class="py-3">
              <button type="submit" class="btn btn-primary btn-block">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
      <div
        class="tab-pane fade"
        id="health-info"
        role="tabpanel"
        aria-labelledby="health-info-tab"
      >
        {% for health in user.health %}
        <form action="/predict/{{ user.id }}" method="post" autocomplete="off">
          <div class="container">
            <input
              type="number"
              name="age"
              id=""
              class="form-control"
              value="{{ user.age }}"
              hidden
            />
            <input
              type="number"
              name="sex"
              id=""
              class="form-control"
              value="{{ user.sex }}"
              hidden
            />
            <div class="form-group">
              <label for="cp">Chest-pain Type</label>
              <select name="cp" id="" class="form-control">
                {% if health.cp == 1 %}
                <option value="1" selected>Typical Angina</option>
                <option value="2">Atypical Angina</option>
                <option value="3">Non-anginal Pain</option>
                <option value="4">Asymptotic</option>
                {% elif health.cp == 2 %}
                <option value="1">Typical Angina</option>
                <option value="2" selected>Atypical Angina</option>
                <option value="3">Non-anginal Pain</option>
                <option value="4">Asymptotic</option>
                {% elif health.cp == 3 %}
                <option value="1">Typical Angina</option>
                <option value="2">Atypical Angina</option>
                <option value="3" selected>Non-anginal Pain</option>
                <option value="4">Asymptotic</option>
                {% elif health.cp == 4 %}
                <option value="1">Typical Angina</option>
                <option value="2">Atypical Angina</option>
                <option value="3">Non-anginal Pain</option>
                <option value="4" selected>Asymptotic</option>
                {% else %}
                <option value="1">Typical Angina</option>
                <option value="2">Atypical Angina</option>
                <option value="3">Non-anginal Pain</option>
                <option value="4">Asymptotic</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="trestbps">Resting Blood Pressure</label>
              <input
                type="number"
                name="trestbps"
                class="form-control"
                placeholder="mmHg"
                value="{{ health.trestbps }}"
              />
            </div>
            <div class="form-group">
              <label for="chol">Serum Cholestrol</label>
              <input
                type="number"
                name="chol"
                class="form-control"
                placeholder="mg/dl"
                value="{{ health.chol }}"
              />
            </div>
            <div class="form-group">
              <label for="fbs">Fasting Blood Sugar</label>
              <select name="fbs" id="" class="form-control">
                {% if health.fbs == 0 %}
                <option value="0" selected>Below 120mg/dl</option>
                <option value="1">Above 120mg/dl</option>
                {% elif health.fbs == 1%}
                <option value="0">Below 120mg/dl</option>
                <option value="1" selected>Above 120mg/dl</option>
                {% else %}
                <option value="0">Below 120mg/dl</option>
                <option value="1">Above 120mg/dl</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="restecg">Resting ECG</label>
              <select name="restecg" id="" class="form-control">
                {% if health.restecg == 0%}
                <option value="0" selected>Normal</option>
                <option value="1">Having ST-T Wave Abnormality</option>
                <option value="2">Left Ventricular Hyperthrophy</option>
                {% elif health.restecg == 1 %}
                <option value="0">Normal</option>
                <option value="1" selected>Having ST-T Wave Abnormality</option>
                <option value="2">Left Ventricular Hyperthrophy</option>
                {% elif health.restecg == 2 %}
                <option value="0">Normal</option>
                <option value="1">Having ST-T Wave Abnormality</option>
                <option value="2" selected
                  >Left Ventricular Hyperthrophy</option
                >
                {% else %}
                <option value="0">Normal</option>
                <option value="1">Having ST-T Wave Abnormality</option>
                <option value="2" selected
                  >Left Ventricular Hyperthrophy</option
                >
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="thalach">Max Heart Rate Achieved</label>
              <input
                type="number"
                name="thalach"
                class="form-control"
                value="{{ health.thalach }}"
              />
            </div>
            <div class="form-group">
              <label for="exang">Exercise Induced Angina</label>
              <select name="exang" id="" class="form-control">
                {% if health.exang == 0 %}
                <option value="0" selected>No</option>
                <option value="1">Yes</option>
                {% elif health.exang == 1%}
                <option value="0" selected>No</option>
                <option value="1">Yes</option>
                {% else %}
                <option value="0">No</option>
                <option value="1">Yes</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="oldpeak"
                >ST Depression Induced by Exercise Relative to Rest</label
              >
              <input
                type="number"
                step="0.1"
                name="oldpeak"
                class="form-control"
                value="{{ health.oldpeak }}"
              />
            </div>
            <div class="form-group">
              <label for="slope">Peak Exercise ST Segment</label>
              <select name="slope" id="" class="form-control">
                {% if health.slope == 1 %}
                <option value="1">Upsloping</option>
                <option value="2">Flat</option>
                <option value="3">Downsloping</option>
                {% elif health.slope == 2 %}
                <option value="1">Upsloping</option>
                <option value="2" selected>Flat</option>
                <option value="3">Downsloping</option>
                {% elif health.slope == 3 %}
                <option value="1">Upsloping</option>
                <option value="2">Flat</option>
                <option value="3" selected>Downsloping</option>
                {% else %}
                <option value="1">Upsloping</option>
                <option value="2">Flat</option>
                <option value="3" selected>Downsloping</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="ca"
                >Number of Major Vessels Colored by Flourosopy</label
              >
              <input
                type="number"
                step="0.1"
                name="ca"
                class="form-control"
                value="{{ health.ca }}"
              />
            </div>
            <div class="form-group">
              <label for="thal">Thal</label>
              <select name="thal" id="" class="form-control">
                {% if health.thal == 3.0 %}
                <option value="3.0" selected>Normal</option>
                <option value="6.0">Fixed Defect</option>
                <option value="7.0">Reversible Defect</option>
                {% elif health.thal == 6.0 %}
                <option value="3.0">Normal</option>
                <option value="6.0" selected>Fixed Defect</option>
                <option value="7.0">Reversible Defect</option>
                {% elif health.thal == 7.0 %}
                <option value="3.0">Normal</option>
                <option value="6.0">Fixed Defect</option>
                <option value="7.0" selected>Reversible Defect</option>
                {% else %}
                <option value="3.0">Normal</option>
                <option value="6.0">Fixed Defect</option>
                <option value="7.0">Reversible Defect</option>
                {% endif %}
              </select>
            </div>
            <div class="py-3">
              <button class="btn btn-primary btn-block" type="submit">
                Predict
              </button>
            </div>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
